
<footer class="footer">
<small>
This page is for <a href="https://masan-s.com/puki/">me</a>.
My another page is <a href="#">here</a>.

</small>
<nav>
  <ul>
    <li>
      
    </li>
  </ul>
</nav>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script type="text/javascript" src="/scripts/main.js"></script>
