<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div id="app">
  {{ message }}
</div>
<div class="canva1">

</div>

<div class="canva2">

</div>
</body>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script type="text/javascript" src="/scripts/forD3.js">

  </script>
  <%- include ("../partials/footer.ejs") %>
</html>
